body{
    margin:0;
    font-family:Arial, sans-serif;
    display:flex;
    background:#f5f5f5;
}

/* Sidebar */

.sidebar{
    width:220px;
    height:100vh;
    background:#1f2937;
    color:white;
    padding:20px;
    position:fixed;
}

.sidebar h2{
    text-align:center;
    margin-bottom:30px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px;
    border-radius:8px;
    margin-bottom:8px;
}

.sidebar a:hover{
    background:#374151;
}

.menu-title{
    color:#9ca3af;
    margin-top:20px;
    margin-bottom:10px;
    font-size:14px;
}

/* Main Content */

.main{
    margin-left:250px;
    padding:30px;
    width:100%;
}

.card{
    background:white;
    padding:25px;
    margin-top:20px;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,0.15);
    cursor:pointer;
    font-size:20px;
    transition:.3s;
}

.card:hover{
    transform:scale(1.03);
}
/* Styling for the Sign Up switch link text */
.toggle-text {
    font-size: 13px;
    color: #4b5563;
    margin-top: 20px;
    margin-bottom: 0;
}

.toggle-text a {
    color: #1f2937;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s;
}

.toggle-text a:hover {
    color: #2ecc71; /* Highlighting shifts to green on hover */
    text-decoration: underline;
}